#*#
*.a
*.bak
*.diff
*.gmo
*.o
*.lo
*.log
*.orig
*.pot
*.pox
*.pyc
*.rej
*.sav.gz
*.swp
*.wav
*_gen.c
*_gen.h
*humbs*.db
*~
.#*
.deps
.libs
.svn
.DS_Store
Freeciv.h
Makefile
Makefile.in
POTFILES
TAGS
acinclude.m4
aclocal.m4
autom4te.cache
cat-id-tbl.c
charset.alias
fcgui
.vagrant
freeciv-gtk2
freeciv-gtk3
freeciv-sdl
freeciv-xaw
freeciv-qt
freeciv-server
config.cache
config.guess
fc_config.h
fc_config.h.in
config.status
config.sub
configure
core
depcomp
freeciv-*.tar.gz
install-sh
missing
mkinstalldirs
ref-add.sed
ref-del.sed
fcser
stamp-cat-id
stamp-h
stamp-h1
stamp-h.in
tags
undep.sh
freeciv-manual
freeciv-modpack
freeciv.spec
libtool
tolua
freeciv-*.sav*
target/
*.class
tornado*
resin*
models.zip
freeciv-web/src/main/webapp/build.txt
*/__pycache__/*
logs/
out/
tests/screenshot*.png
.freeciv_index
.idea
*.iml
*.db
freeciv/freeciv/server/freeciv-web
Makefile
Makefile.in
nohup.out
tests/casperjs-1.1.4/.eslintignore
tests/casperjs-1.1.4/.eslintrc
tests/casperjs-1.1.4/.gitattributes
tests/casperjs-1.1.4/.gitmodules
tests/casperjs-1.1.4/.travis.yml
tests/casperjs-1.1.4/bin/bootstrap.js
tests/casperjs-1.1.4/bin/casperjs
tests/casperjs-1.1.4/bin/casperjs.exe
tests/casperjs-1.1.4/bin/casperjs.js
tests/casperjs-1.1.4/bin/usage.txt
tests/casperjs-1.1.4/casperjs.gemspec
tests/casperjs-1.1.4/CHANGELOG.md
tests/casperjs-1.1.4/CONTRIBUTING.md
tests/casperjs-1.1.4/CONTRIBUTORS.md
tests/casperjs-1.1.4/docs/_static/casperjs-favicon.ico
tests/casperjs-1.1.4/docs/_static/images/.npmignore
tests/casperjs-1.1.4/docs/_static/images/bg.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-logo-medium.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-logo-small.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-logo-squared-inv.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-logo-squared.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-logo-xsmall.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-logo.png
tests/casperjs-1.1.4/docs/_static/images/casperjs-rounded.png
tests/casperjs-1.1.4/docs/_static/images/colorizer.png
tests/casperjs-1.1.4/docs/_static/images/cow-test-ko.png
tests/casperjs-1.1.4/docs/_static/images/cow-test-ok.png
tests/casperjs-1.1.4/docs/_static/images/demo.png
tests/casperjs-1.1.4/docs/_static/images/evaluate-diagram.png
tests/casperjs-1.1.4/docs/_static/images/forkme.png
tests/casperjs-1.1.4/docs/_static/images/logo_casperjs.ai
tests/casperjs-1.1.4/docs/_static/images/logo_casperjs.eps
tests/casperjs-1.1.4/docs/_static/images/logo_casperjs.pdf
tests/casperjs-1.1.4/docs/_static/images/logoutput.png
tests/casperjs-1.1.4/docs/_static/images/split-test-results.png
tests/casperjs-1.1.4/docs/_static/images/tar.png
tests/casperjs-1.1.4/docs/_static/images/testsuiteok.png
tests/casperjs-1.1.4/docs/_static/images/zip.png
tests/casperjs-1.1.4/docs/_themes/casperjs/addon.html
tests/casperjs-1.1.4/docs/_themes/casperjs/layout.html
tests/casperjs-1.1.4/docs/_themes/casperjs/localtoc.html
tests/casperjs-1.1.4/docs/_themes/casperjs/sourcelink.html
tests/casperjs-1.1.4/docs/_themes/casperjs/static/casperjs-dark.css
tests/casperjs-1.1.4/docs/_themes/casperjs/static/casperjs-light.css
tests/casperjs-1.1.4/docs/_themes/casperjs/static/style-switcher.js
tests/casperjs-1.1.4/docs/_themes/casperjs/theme.conf
tests/casperjs-1.1.4/docs/changelog.rst
tests/casperjs-1.1.4/docs/cli.rst
tests/casperjs-1.1.4/docs/conf.py
tests/casperjs-1.1.4/docs/cookbook.rst
tests/casperjs-1.1.4/docs/credits.rst
tests/casperjs-1.1.4/docs/debugging.rst
tests/casperjs-1.1.4/docs/events-filters.rst
tests/casperjs-1.1.4/docs/extending.rst
tests/casperjs-1.1.4/docs/faq.rst
tests/casperjs-1.1.4/docs/index.rst
tests/casperjs-1.1.4/docs/installation.rst
tests/casperjs-1.1.4/docs/known_issues.rst
tests/casperjs-1.1.4/docs/license.rst
tests/casperjs-1.1.4/docs/logging.rst
tests/casperjs-1.1.4/docs/modules/casper.rst
tests/casperjs-1.1.4/docs/modules/clientutils.rst
tests/casperjs-1.1.4/docs/modules/colorizer.rst
tests/casperjs-1.1.4/docs/modules/index.rst
tests/casperjs-1.1.4/docs/modules/mouse.rst
tests/casperjs-1.1.4/docs/modules/tester.rst
tests/casperjs-1.1.4/docs/modules/utils.rst
tests/casperjs-1.1.4/docs/quickstart.rst
tests/casperjs-1.1.4/docs/README.md
tests/casperjs-1.1.4/docs/selectors.rst
tests/casperjs-1.1.4/docs/testing.rst
tests/casperjs-1.1.4/docs/upgrading/1.1.rst
tests/casperjs-1.1.4/docs/upgrading/index.rst
tests/casperjs-1.1.4/docs/writing_modules.rst
tests/casperjs-1.1.4/LICENSE.md
tests/casperjs-1.1.4/modules/casper.js
tests/casperjs-1.1.4/modules/cli.js
tests/casperjs-1.1.4/modules/clientutils.js
tests/casperjs-1.1.4/modules/colorizer.js
tests/casperjs-1.1.4/modules/events.js
tests/casperjs-1.1.4/modules/http.js
tests/casperjs-1.1.4/modules/mouse.js
tests/casperjs-1.1.4/modules/pagestack.js
tests/casperjs-1.1.4/modules/querystring.js
tests/casperjs-1.1.4/modules/tester.js
tests/casperjs-1.1.4/modules/utils.js
tests/casperjs-1.1.4/modules/xunit.js
tests/casperjs-1.1.4/package.json
tests/casperjs-1.1.4/README.md
tests/casperjs-1.1.4/rpm/build
tests/casperjs-1.1.4/rpm/casperjs.spec
tests/casperjs-1.1.4/samples/bbcshots.coffee
tests/casperjs-1.1.4/samples/bbcshots.js
tests/casperjs-1.1.4/samples/cliplay.coffee
tests/casperjs-1.1.4/samples/cliplay.js
tests/casperjs-1.1.4/samples/customevents.coffee
tests/casperjs-1.1.4/samples/customevents.js
tests/casperjs-1.1.4/samples/customlogging.coffee
tests/casperjs-1.1.4/samples/customlogging.js
tests/casperjs-1.1.4/samples/download.coffee
tests/casperjs-1.1.4/samples/download.js
tests/casperjs-1.1.4/samples/dynamic.coffee
tests/casperjs-1.1.4/samples/dynamic.js
tests/casperjs-1.1.4/samples/each.coffee
tests/casperjs-1.1.4/samples/each.js
tests/casperjs-1.1.4/samples/events.coffee
tests/casperjs-1.1.4/samples/events.js
tests/casperjs-1.1.4/samples/extends.coffee
tests/casperjs-1.1.4/samples/extends.js
tests/casperjs-1.1.4/samples/googlelinks.coffee
tests/casperjs-1.1.4/samples/googlelinks.js
tests/casperjs-1.1.4/samples/googlematch.coffee
tests/casperjs-1.1.4/samples/googlematch.js
tests/casperjs-1.1.4/samples/googlepagination.coffee
tests/casperjs-1.1.4/samples/googlepagination.js
tests/casperjs-1.1.4/samples/googletesting.coffee
tests/casperjs-1.1.4/samples/googletesting.js
tests/casperjs-1.1.4/samples/logcolor.coffee
tests/casperjs-1.1.4/samples/logcolor.js
tests/casperjs-1.1.4/samples/metaextract.coffee
tests/casperjs-1.1.4/samples/metaextract.js
tests/casperjs-1.1.4/samples/multirun.coffee
tests/casperjs-1.1.4/samples/multirun.js
tests/casperjs-1.1.4/samples/screenshot.coffee
tests/casperjs-1.1.4/samples/screenshot.js
tests/casperjs-1.1.4/samples/statushandlers.coffee
tests/casperjs-1.1.4/samples/statushandlers.js
tests/casperjs-1.1.4/samples/steptimeout.coffee
tests/casperjs-1.1.4/samples/steptimeout.js
tests/casperjs-1.1.4/samples/timeout.coffee
tests/casperjs-1.1.4/samples/timeout.js
tests/casperjs-1.1.4/samples/translate.coffee
tests/casperjs-1.1.4/samples/translate.js
tests/casperjs-1.1.4/src/casperjs.cs
tests/casperjs-1.1.4/tests/clitests/error/syntax.js
tests/casperjs-1.1.4/tests/clitests/fail-fast/manual-abort/index.js
tests/casperjs-1.1.4/tests/clitests/fail-fast/standard/hook.js
tests/casperjs-1.1.4/tests/clitests/fail-fast/standard/test1.js
tests/casperjs-1.1.4/tests/clitests/fail-fast/standard/test2.js
tests/casperjs-1.1.4/tests/clitests/fail-fast/standard/test3.js
tests/casperjs-1.1.4/tests/clitests/modules/mod.js
tests/casperjs-1.1.4/tests/clitests/modules/node_modules/bar.js
tests/casperjs-1.1.4/tests/clitests/modules/node_modules/baz/baz.js
tests/casperjs-1.1.4/tests/clitests/modules/node_modules/baz/package.json
tests/casperjs-1.1.4/tests/clitests/modules/node_modules/foo/index.js
tests/casperjs-1.1.4/tests/clitests/modules/node_modules/json.json
tests/casperjs-1.1.4/tests/clitests/modules/sub/coffeemod.coffee
tests/casperjs-1.1.4/tests/clitests/modules/sub/mod.js
tests/casperjs-1.1.4/tests/clitests/modules/test.js
tests/casperjs-1.1.4/tests/clitests/modules/test_coffee.js
tests/casperjs-1.1.4/tests/clitests/modules/test_node_json.js
tests/casperjs-1.1.4/tests/clitests/modules/test_node_mod.js
tests/casperjs-1.1.4/tests/clitests/modules/test_node_mod_index.js
tests/casperjs-1.1.4/tests/clitests/modules/test_node_mod_json_package.js
tests/casperjs-1.1.4/tests/clitests/modules/test_node_subdir/test_node_mod.js
tests/casperjs-1.1.4/tests/clitests/modules/test_patched_require.js
tests/casperjs-1.1.4/tests/clitests/runtests.py
tests/casperjs-1.1.4/tests/clitests/scripts/options.js
tests/casperjs-1.1.4/tests/clitests/scripts/script.js
tests/casperjs-1.1.4/tests/clitests/tester/casper-instance-override.js
tests/casperjs-1.1.4/tests/clitests/tester/dubious.js
tests/casperjs-1.1.4/tests/clitests/tester/exit.js
tests/casperjs-1.1.4/tests/clitests/tester/failing.js
tests/casperjs-1.1.4/tests/clitests/tester/mytest.js
tests/casperjs-1.1.4/tests/clitests/tester/passing.js
tests/casperjs-1.1.4/tests/clitests/tester/skipped.js
tests/casperjs-1.1.4/tests/clitests/tester/step_throws.js
tests/casperjs-1.1.4/tests/clitests/tester/waitFor_timeout.js
tests/casperjs-1.1.4/tests/run.js
tests/casperjs-1.1.4/tests/sample_modules/config.json
tests/casperjs-1.1.4/tests/sample_modules/csmodule.coffee
tests/casperjs-1.1.4/tests/sample_modules/jsmodule.js
tests/casperjs-1.1.4/tests/selftest.js
tests/casperjs-1.1.4/tests/site/alert.html
tests/casperjs-1.1.4/tests/site/area.html
tests/casperjs-1.1.4/tests/site/callback.html
tests/casperjs-1.1.4/tests/site/click.html
tests/casperjs-1.1.4/tests/site/close.html
tests/casperjs-1.1.4/tests/site/confirm.html
tests/casperjs-1.1.4/tests/site/csv/base64encode.csv
tests/casperjs-1.1.4/tests/site/dummy.js
tests/casperjs-1.1.4/tests/site/dummy.json
tests/casperjs-1.1.4/tests/site/dummy.txt
tests/casperjs-1.1.4/tests/site/elementattribute.html
tests/casperjs-1.1.4/tests/site/error.html
tests/casperjs-1.1.4/tests/site/field-array.html
tests/casperjs-1.1.4/tests/site/field-file-multiple.html
tests/casperjs-1.1.4/tests/site/form.html
tests/casperjs-1.1.4/tests/site/frame1.html
tests/casperjs-1.1.4/tests/site/frame2.html
tests/casperjs-1.1.4/tests/site/frame3.html
tests/casperjs-1.1.4/tests/site/frame4.html
tests/casperjs-1.1.4/tests/site/frames.html
tests/casperjs-1.1.4/tests/site/global.html
tests/casperjs-1.1.4/tests/site/has%20space.html
tests/casperjs-1.1.4/tests/site/images/phantom.png
tests/casperjs-1.1.4/tests/site/includes/include1.js
tests/casperjs-1.1.4/tests/site/includes/include2.js
tests/casperjs-1.1.4/tests/site/index.html
tests/casperjs-1.1.4/tests/site/mouse-events.html
tests/casperjs-1.1.4/tests/site/multiple-forms.html
tests/casperjs-1.1.4/tests/site/multiple-popups.html
tests/casperjs-1.1.4/tests/site/page1.html
tests/casperjs-1.1.4/tests/site/page2.html
tests/casperjs-1.1.4/tests/site/page3.html
tests/casperjs-1.1.4/tests/site/plaintext.notype
tests/casperjs-1.1.4/tests/site/popup.html
tests/casperjs-1.1.4/tests/site/prompt.html
tests/casperjs-1.1.4/tests/site/redirect.html
tests/casperjs-1.1.4/tests/site/resources.html
tests/casperjs-1.1.4/tests/site/result.html
tests/casperjs-1.1.4/tests/site/test.html
tests/casperjs-1.1.4/tests/site/urls.html
tests/casperjs-1.1.4/tests/site/visible.html
tests/casperjs-1.1.4/tests/site/waitFor.html
tests/casperjs-1.1.4/tests/suites/.casper
tests/casperjs-1.1.4/tests/suites/casper/.casper
tests/casperjs-1.1.4/tests/suites/casper/agent.js
tests/casperjs-1.1.4/tests/suites/casper/alert.js
tests/casperjs-1.1.4/tests/suites/casper/auth.js
tests/casperjs-1.1.4/tests/suites/casper/bypass.js
tests/casperjs-1.1.4/tests/suites/casper/callback.js
tests/casperjs-1.1.4/tests/suites/casper/callutils.js
tests/casperjs-1.1.4/tests/suites/casper/capture.js
tests/casperjs-1.1.4/tests/suites/casper/click.js
tests/casperjs-1.1.4/tests/suites/casper/confirm.js
tests/casperjs-1.1.4/tests/suites/casper/content.js
tests/casperjs-1.1.4/tests/suites/casper/debug.js
tests/casperjs-1.1.4/tests/suites/casper/elementattribute.js
tests/casperjs-1.1.4/tests/suites/casper/encode.js
tests/casperjs-1.1.4/tests/suites/casper/encodedurl.js
tests/casperjs-1.1.4/tests/suites/casper/evaluate.js
tests/casperjs-1.1.4/tests/suites/casper/events.js
tests/casperjs-1.1.4/tests/suites/casper/exists.js
tests/casperjs-1.1.4/tests/suites/casper/fetchtext.js
tests/casperjs-1.1.4/tests/suites/casper/flow.coffee
tests/casperjs-1.1.4/tests/suites/casper/formfill.js
tests/casperjs-1.1.4/tests/suites/casper/frames.js
tests/casperjs-1.1.4/tests/suites/casper/getplaintext.js
tests/casperjs-1.1.4/tests/suites/casper/global.js
tests/casperjs-1.1.4/tests/suites/casper/headers.js
tests/casperjs-1.1.4/tests/suites/casper/history.js
tests/casperjs-1.1.4/tests/suites/casper/hooks.js
tests/casperjs-1.1.4/tests/suites/casper/keys.js
tests/casperjs-1.1.4/tests/suites/casper/location.js
tests/casperjs-1.1.4/tests/suites/casper/logging.js
tests/casperjs-1.1.4/tests/suites/casper/mouseevents.js
tests/casperjs-1.1.4/tests/suites/casper/multiplepopups.js
tests/casperjs-1.1.4/tests/suites/casper/navigation.js
tests/casperjs-1.1.4/tests/suites/casper/newpage.js
tests/casperjs-1.1.4/tests/suites/casper/onerror.js
tests/casperjs-1.1.4/tests/suites/casper/open.js
tests/casperjs-1.1.4/tests/suites/casper/pagerequest.js
tests/casperjs-1.1.4/tests/suites/casper/popup.js
tests/casperjs-1.1.4/tests/suites/casper/prompt.js
tests/casperjs-1.1.4/tests/suites/casper/reload.js
tests/casperjs-1.1.4/tests/suites/casper/request.coffee
tests/casperjs-1.1.4/tests/suites/casper/request.js
tests/casperjs-1.1.4/tests/suites/casper/resources.js
tests/casperjs-1.1.4/tests/suites/casper/scripts.js
tests/casperjs-1.1.4/tests/suites/casper/scroll.js
tests/casperjs-1.1.4/tests/suites/casper/sendAjax.js
tests/casperjs-1.1.4/tests/suites/casper/start.js
tests/casperjs-1.1.4/tests/suites/casper/steps.js
tests/casperjs-1.1.4/tests/suites/casper/urls.js
tests/casperjs-1.1.4/tests/suites/casper/viewport.js
tests/casperjs-1.1.4/tests/suites/casper/visible.js
tests/casperjs-1.1.4/tests/suites/casper/wait.js
tests/casperjs-1.1.4/tests/suites/casper/xpath.js
tests/casperjs-1.1.4/tests/suites/cli.js
tests/casperjs-1.1.4/tests/suites/clientutils.js
tests/casperjs-1.1.4/tests/suites/coffee.coffee
tests/casperjs-1.1.4/tests/suites/fs.js
tests/casperjs-1.1.4/tests/suites/http_status.js
tests/casperjs-1.1.4/tests/suites/pagestack.js
tests/casperjs-1.1.4/tests/suites/require.js
tests/casperjs-1.1.4/tests/suites/tester/.casper
tests/casperjs-1.1.4/tests/suites/tester/assert.js
tests/casperjs-1.1.4/tests/suites/tester/begin-config.js
tests/casperjs-1.1.4/tests/suites/tester/setup-teardown-async.js
tests/casperjs-1.1.4/tests/suites/tester/setup-teardown.js
tests/casperjs-1.1.4/tests/suites/tester/skip.js
tests/casperjs-1.1.4/tests/suites/tester/test-order.js
tests/casperjs-1.1.4/tests/suites/tester/testcase.js
tests/casperjs-1.1.4/tests/suites/tester/testsuite.js
tests/casperjs-1.1.4/tests/suites/utils.js
tests/casperjs-1.1.4/tests/suites/xunit.js
tests/casperjs-1.1.4/tests/testdir/01_a/abc.js
tests/casperjs-1.1.4/tests/testdir/01_a/def.js
tests/casperjs-1.1.4/tests/testdir/02_b/abc.js
tests/casperjs-1.1.4/tests/testdir/03_a.js
tests/casperjs-1.1.4/tests/testdir/03_b.js
tests/casperjs-1.1.4/tests/testdir/04/01_init.js
tests/casperjs-1.1.4/tests/testdir/04/02_do.js
