<div id="city_tabs">
  <ul>
    <li><a id="ct0" href="#city_tabs-0" onclick="javascript:city_tab_index=0;">&#x2191;<b>M</b>ain</a></li>
    <li><a id="ct1" href="#city_tabs-1" onclick="javascript:city_tab_index=1;">&#x2193;Pro<b>d</b>uction</a></li>
    <li><a id="ct2" href="#city_tabs-2" onclick="javascript:city_tab_index=2;"><b>R</b>outes</a></li> 
    <li class="extra_tabs_big" onclick="javascript:city_tab_index=3;"><a id="ct3" href="#city_tabs-3"><b>O</b>ptions</a></li>
    <li><a id="ct4" href="#city_tabs-h" onclick="javascript:city_tab_index=4;"><b>H</b>appy</a></li> 
    <li><a id="ctg" href="#city_tabs-g" onclick="javascript:city_tab_index=5;"><b>G</b>overnor</a></li>
    <li class="extra_tabs_small" onclick="javascript:city_tab_index=6;"><a id="cti" href="#city_tabs-i">Inside</a></li>
  </ul>

  <div id="city_tabs-0">
    <div id="city_overview_tab" class="citydlg_tabs">
    <div id="city_viewport">
    <div id="specialist_panel"></div>
    
    <div class="city_panel">
            <div id="city_canvas_top_div" class="city_panel" style='float:left;margin-top:0px'>
            <div id="city_canvas_div">
                    <canvas id="city_canvas" width="350" height="175" moz-opaque="true"></canvas>
            </div>
        </div>
    </div>

    <div id="city_panel_top" class="city_panel">
      <div id="city_panel_stats" class="city_panel" style='float:left;margin-top:0px'>
      <div id="city_dialog_info">
      <div id="city_panel_left_info" style='float:left;'> 
      <div id="rapture_citizen_panel" style='height:20px;'></div>
	  <div><b>City information:</b></div>
        <div id="city_size_production_info" style="float:left;">
	  </div>
	  <span id="city_size"></span>
	  <div id='city_production_overview'></div>
	  <div id='city_production_turns_overview'></div>
	  <div id='city_airlift_capacity' class='airlift' style='padding-top:2px'>{{{airlift}}}</div>
	</div>
    <div style='float:left; margin-top: -23px;'> 
	<div style='float: left; padding-left: 20px;'> 
	  <table id="city_stats">
	  <tr style='line-height:17.5px;'><td id="rapture_food" style='padding-bottom:8px;'></td><td id="rapture_status" title='The city status (Celebrating, Peace or Disorder)'></td></tr>
	  <tr><td>Food: </td><td id="city_food"></td></tr>
	  <tr><td>Prod: </td><td id="city_prod"></td></tr>
	  <tr><td>Trade: </td><td id="city_trade"></td></tr>
	  <tr><td>Gold:: </td><td id="city_gold"></td></tr>
	  <tr><td>Luxury: </td><td id="city_luxury"></td></tr>
	  <tr><td>Science: </td><td id="city_science"></td></tr>
	  <tr><td>Corruption: </td><td id="city_corruption"></td></tr>
	  <tr id="city_waste_row"><td>Waste: </td><td id="city_waste"></td></tr>
    <tr id="city_steal_row"><td>Tech theft: </td><td id="city_steal"></td></tr>
	  <tr><td>Pollution: </td><td id="city_pollution"></td></tr>
  	  </table>
        </div>
     </div>
     </div>
     </div>

    </div>
    <div id="city_improvements_panel" class="city_panel">
      <div style="clear: left;"></div>
      <div id="city_improvements">
        <div id="city_improvements_title">City Improvements:</div>
        <div id="city_improvements_list"></div>
      </div>
      
      <div id="city_present_units" >
        <div id="city_present_units_title">Present Units:</div>
        <div class="noscrollbars" id="city_present_units_list"></div>
      </div>

      <div id="city_supported_units" >
        <div id="city_supported_units_title">Supported Units:</div>
        <div class="noscrollbars" id="city_supported_units_list"></div>
      </div>

    </div>


  </div>
  </div>
  </div> 
  <div id="city_tabs-1">
    <div id="city_production_tab" class="citydlg_tabs">
      <div id='worklist_left'>
        <div id='worklist_dialog_headline' title="Click to remove from worklist. Remaining worklist will move up."></div>
        <div id='worklist_heading'>Worklist:</div><div id='city_current_worklist'></div>
      </div>
      <div id='worklist_right'>
        <div id='tasks_heading'>
          <input id='show_unreachable_items' type='checkbox'/>Unreachable items</br>
          <input id='show_improvements_only' type='checkbox'/>Improvements only<span id='info_city_prod' style='float:right;'></span>
          <br/>
          Choices:
        </div>
        <div id='worklist_production_choices'></div>
      </div>
      <div id='prod_buttons'>
        <button type="button" class="button" onClick="city_change_production();" 
         id="city_change_production_btn" title="or: ALT-click a selection above">Change Production</button>
        <button type="button" class="button" onClick="city_add_to_worklist();"
         id="city_add_to_worklist_btn" title="or SHIFT-click item to append, ALT-SHIFT-click to insert above.">Add to worklist</button>
      </div>
      <div id="worklist_control">
        <button type="button" class="button" onClick="city_insert_in_worklist();" id="city_worklist_insert_btn" title="Insert before first selected task, or first in the list"><i class="fa fa-chevron-left fa-fw"></i></button>
        <button type="button" class="button" onClick="city_add_to_worklist();" id="city_worklist_append_btn" title="Append to end of worklist"><i class="fa fa-download fa-fw"></i></button>        
        <div class="wc_spacer"></div>
        <button type="button" class="button" onClick="city_worklist_task_up();" id="city_worklist_up_btn" style="height: 20%;" title="Move selected tasks up"><i class="fa fa-chevron-up fa-fw"></i></button>
        <button type="button" class="button" onClick="city_worklist_task_down();" id="city_worklist_down_btn" style="height: 20%;" title="Move selected tasks down"><i class="fa fa-chevron-down fa-fw"></i></button>
        <div class="wc_spacer"></div>
        <button type="button" class="button" onClick="city_exchange_worklist_task();" id="city_worklist_exchange_btn" title="Change selected tasks"><i class="fa fa-exchange fa-fw"></i></button>
        <div class="wc_spacer"></div>
        <button type="button" class="button" onClick="city_worklist_task_remove();" id="city_worklist_remove_btn" title="Remove selected tasks"><i class="fa fa-trash fa-fw"></i></button>
      </div>
    </div>
  </div> 
  <div id="city_tabs-2">
    <div id="city_traderoutes_tab" class="citydlg_tabs"></div>
  </div> 
  <div id="city_tabs-3">
    <div id="city_settings_tab" class="citydlg_tabs">
      <div id="city_disband_options" >
        <input id="disbandable_city" type="checkbox" name="disband_city0" value="disband_city0"/>Disband city if built settler at size 1.
      </div>

    </div>
  </div>

   <div id="city_tabs-h" class="citydlg_tabs">
      <div id="city_happy_tab">           
      </div>
   </div>

  <div id="city_tabs-g" class="citydlg_tabs">
      <div id="city_governor_tab">
      </div>
  </div> 

  <div id="city_tabs-u" class="citydlg_tabs">
    <div id="city_units_tab"></div>
  </div> 


</div>  
