@font-face {
  font-family: Cinzel;
  src: url("/fonts/cinzel.variable.woff2") format("woff2"), url("/fonts/cinzel.variable.ttf") format("ttf");
}

:root {
  /* Chrome browser family: */
  color-scheme: dark;

  /* Also adjust: default_dialog_text_color in colortools.js */
  --default_text_color: #ccc;
  --contrast_text_color: #000;
}

body {
  margin: 0;
  background: #000000;
  overflow: hidden;
  width: 100%;
  color: var(--default_text_color);
}

body, html, div {
  /* ***************** Scrollbars *****************/
  /* Firefox scrollbar */
  scrollbar-color: #4d4632 #000 !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #4d4632;
  /*	-webkit-border-radius:4px; */
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #42411a;
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: #000;
}

/************************************************/

button {
  margin: .2em .2em .2em 0;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  line-height: 1.4em;
  width: auto;
  overflow: visible;
}

.ui-tabs .ui-tabs-panel {
  border-width: 0;
  display: block;
  padding: 0;
  margin-right: 0;
  color: var(--default_text_color);
  font-family: Cinzel, serif;
}

#freeciv_logo {
  float: left;
  background-image: url(/images/freeciv-web-logo2.png);
  width: 118px;
  height: 30px;
  margin-right: 10px;
}

#game_logo {
  width: 100%;
  height: 50px;
  background-color: #aaaaff;
}

#freeciv_custom_scrollbar_div {
  height: 95%;
  overflow: auto;
}

.nowrap {
  white-space: nowrap;
}

/* Help Tab >> CONTROLS (Orders buttons, hotkeys) *****************
/* regular text that will be centered in tables */
.vctr {
  color: var(--default_text_color);
}

/* highlights the actual hotkey sequence in different color */
.hotkey {
  color: #cc8080;
  text-shadow: 2px 2px #c1183750;
}

.ctrls_tbl tr td {
  position: relative !important;
  bottom: 3px !important;
}

table.terrain_chart td {
  border: 1px solid #454d4c;
  padding: 6px 18px;
}

/******************************************************************/

#game_chat_box {
  width: 100%;
  display: flex;
}

#chat_direction {
  width: 29px;
  height: 20px;
}

#game_text_input {
  flex: 1 1 auto;
  height: 18px;
  min-width: 0;
  margin: 0 0;
  border: 1px solid #555555;
  color: #d0c8c0;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Consolas", monospace;
}

#overview_map {
  cursor: crosshair;
  border: none;
  position: relative;
}

#overview_img, #overview_viewrect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game_unit_info {
  float: left;
  width: 100%;
  overflow: hidden;
}

/*event time stamps*/
.ts {
  color: #d7eeeb;
  font-size: 80%;
  white-space: nowrap;
}

.ts::before {
  /*  content: "⌚"; */
  content: url(/images/e/ts.png);
  vertical-align: middle;
  padding: 1px;
  white-space: nowrap;
}

/*scrambled unit identifier*/
.sc {
  color: #c1d6fc;
  vertical-align: middle;
  font-size: 70%;
}

#unit_text_details {
  float: left;
  width: 135px;
}

#end_game_turn_panel {
  float: right;
  width: 120px;
}

.order_button {
  overflow: hidden;
  padding-right: 12px;
  display: inline-block;
  height: 30px;
  width: 30px;
  visibility: visible;
}

/* this removes dotted line from appearing around clicked/focused order button */
.order_button > a:focus,
.order_button:focus,
.order_button > a > img:focus {
  outline: none !important;
}


#turn_done_button_div {
  position: absolute;
  padding: 5px;
  right: 0;
  top: 0;
}

#turn_done_button {
  float: left;
  margin-top: 0;
  padding: 7px;
  border-color: #000 !important;
}

.main_menu_buttons {
  padding: 1px;
  margin: 0;
}

#freeciv_manual {
  color: #ffffff;
  padding: 10px;

}

.manual-tab {
  background: #2e2f35;
  padding: 30px;
  overflow: auto;
}

/* scrollable but without scrollbars */
.noscrollbars {
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none !important; /* Firefox */
}

.noscrollbars::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* no up-down arrows on number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/*warcalc bonus adjusters, small empire tab buttons*/
.tiny_button {
  padding: 2px;
  margin: 0;
  border-radius: 3px 3px 3px 3px;
  font-size: 85%;
  background: #444;
  color: rgb(216, 209, 196);
  border-color: rgb(111, 111, 111);
}

.helptext {
  white-space: pre-wrap;
  font-size: 95%;
  line-height: 110%;
  margin-top: -2px;
  font-family: "Segoe UI", sans-serif;
}

.helptext_pane {
  max-width: 784px;
  font-family: "Segoe UI", sans-serif;
  color: #e2e2e2;
}

.helptext_pane_mobile {
  max-width: 984px;
}

.unit_desc {
  color: #9aa;
  line-height: 115%;
  font-size: 115%;
  font-family: "Segoe UI", sans-serif;
  font-weight: bolder;
}

.blue_clickable {
  color: #3498DB;
  text-decoration: underline;
}

/* used for "/" to contrast with numbers which they divide */
.contrast_text {
  color: #f8faff;
  font-weight: 700;
}

.non_priority { /* not all text should be bright-white, if it is less critical or informative */
  color: #d4cfb9;
}

.city_dialog_celeb {
  color: #55cc55;
  cursor: help;
}

.city_dialog_disorder {
  color: #cc5555;
  cursor: help;
}

.city_dialog_restoring_anarchy {
  color: #d6a852;
  cursor: help;
}

.city_dialog_celebrate_after_anarchy {
  color: #99c050;
  cursor: help;
}

.city_dialog_peace {
  cursor: help;
}

.hint_of_green {
  color: #a6f4a6;
  text-align: right;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: -2px;
}

.hint_of_blue {
  color: #d6d6f1;
  text-align: right;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: -2px;
}

.hint_of_orange {
  color: #ffecc7;
  text-align: right;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: -2px;
}

.negative_text {
  color: #d65b52;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: -2px;
}

/* reddish because won't produce, but has to differentiate from NOT coming out of disorder next turn */
.restored_anarchy_text {
  color: #d6a852;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: -2px;
}

.food_text {
  color: #9bff7d; /* adjust city.js city_surplus_color to match */
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

/* food shield trade: tile output styling for tile info window */
/* shortest length possible because astr_add_line() forces \n at column x */
.f, .s, .t {
  padding-bottom: 1px;
  border: 1px solid #0003;
  border-radius: 2px;
  white-space: nowrap;
  cursor: help;
  padding-left: 4px;
  padding-right: 4px;
}

.f {
  background-color: #00ee01;
  color: #000;
  border-style: solid hidden solid solid;
}

.s {
  background-color: #e4e4e4;
  color: #000;
  border-style: solid hidden solid solid;
}

.t {
  background-color: #ebde11;
  color: #000;
  border-style: solid solid solid solid;
}

/*********** KILL ME! After next prod server recompilation of C server
 * that happens after 14April2021: C server put these classes in the 
 * Tile Info pop-up, but they are now replaced by the above, whose 
 * shorterness avoids forced newline in the middle of tile output text
 * ********************************************************************/
.fbt, .sbt, .tbt {
  padding-left: 3px;
  padding-bottom: 1px;
  border: 1px solid #0003;
  border-radius: 2px;
}

.fbt {
  background-color: #00ee01;
  color: #000;
  border-style: solid hidden solid solid;
}

.sbt {
  background-color: #e4e4e4;
  color: #000;
  border-style: solid hidden solid solid !important;

}

.tbt {
  background-color: #ebde11;
  color: #000;
  border-style: hidden solid hidden solid !important;
  padding-right: 3px !important;
}

/***************************************************** </end KILL_ME> */

.black_shadow {
  text-shadow: 2px 1px black;
}

.negative_food_text {
  color: #c55c55; /* adjust city.js city_surplus_color to match */
  padding-top: 0;
  padding-right: 0;
  max-width: 3em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

.prod_text {
  color: #ffffff;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

.trade_text {
  color: #fdff7d;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

.gold_text {
  color: #ffd52c;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

.lux_text {
  color: #e2c5ee;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

.sci_text {
  color: #98fff3;
  padding-top: 0;
  padding-right: 0;
  max-width: 2em;
  margin-right: 0;
  text-shadow: 2px 1px #000;
}

/* city stats panel, main city dialog (city.js)*/
#city_food,
#city_food2,
#city_prod,
#city_prod2,
#city_trade,
#city_trade2,
#city_gold,
#city_gold2,
#city_luxury,
#city_luxury2,
#city_science,
#city_science2,
#city_corruption,
#city_pollution,
#city_waste,
#city_steal {
  text-align: right;
}

/* icon graphic column of demographics table */
.dem_table td:nth-of-type(1) {
  text-align: right;
  padding-right: 3px;
}

/* data column of demographics table */
.dem_table td:nth-of-type(3) {
  text-align: right;
  font-weight: bold;
}

.dem_table td:nth-of-type(4) {
  padding-left: 14px;
  padding-right: 14px;
}

.warcalc_input {
  border-radius: 1px;
  border-color: #555;
  background: #393939;
  color: #fffff3;
}

/* numbers align digits in ISO accounting format */
.number_element {
  text-align: right;
  padding-left: 0;
  color: #beb38f;
}

#manual_non_helptext_facts {
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  column-width: 20em;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

#game_unit_orders_default {
  bottom: 45px;
  min-width: 300px;
  height: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
  visibility: hidden;
}

#city_viewport {
  /*  background-image: url('/images/bg-med-dark.jpg'); */
  overflow: auto;
}

#city_overview_tab {
  background-image: url('/images/bg-med-dark.jpg');
}

.ui-dialog {
  border: 1px #432 solid;
  max-height: 100%;
  overflow: auto;
}

#dialog {
  max-height: 400px;
  color: var(--default_text_color);
}

/* Research dialog. */
#technologies {
  clear: left;
  position: relative;
  overflow: auto;
  width: 100%;
  background-image: url('/images/bg-dark.jpg');
}

/* theme classes 3 */

#tech_info_box {
  float: left;
  border: 1px solid rgb(153, 153, 153);
  width: 100%;
  min-height: 40px;
  padding: 4px;
  margin: 2px 2px 2px 0;
  background: url("/images/bg-dark.jpg") repeat scroll 0 0;
  color: rgb(226, 226, 226);
  font-family: "Segoe UI", sans-serif;
}

#tech_goal_box {
  float: left;
  font-weight: bold;
}

#tech_progress_box {
  float: left;
  padding-left: 80px;
  width: 280px;
}

#progress_bg {
  float: left;
  background-color: #bbbbbb40;
  width: 100%;
  border: 1px solid #ffffff;
  position: relative;
}

#progress_fg {
  float: left;
  width: 60%;
  background-color: #5582c2;
}

#tech_progress_text {
  position: absolute;
  left: 0;
}

#tech_results {
  float: left;
  padding-left: 20px;
}


#nations {
  overflow: auto;
}

#city_name_req {
  width: 100%;
}

#civ_dialog {
  padding: 20px;
  margin: 20px;
  height: 550px;
  text-align: center;
}

/* Overrides to jquery-ui-1.8.9.custom.css */

.ui-widget-overlay {
  background: none repeat scroll 0 0 #000000;
  opacity: 0.75;
}

#game_status_panel_bottom {
  position: absolute;
  color: #ffffff;
  height: 23px;
  text-align: center;
  bottom: 25px;
  overflow: hidden;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*!*/
.ui-widget-content {
  background: url("/images/bg.jpg") repeat scroll 50% 50%;
}

/* theme classes 4 */

#game_status_panel_top {
  float: right;
  color: #d6d0c3;
  height: 30px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-right: 150px;
  padding-top: 5px;
  font-family: Cinzel, serif;
}

.ui-dialog .ui-dialog-content {
  position: static;
}

#city_canvas_div {
  border-radius: 6px;
}

#city_present_units, #city_supported_units, #city_improvements {
  float: left;
  height: 105px;
  overflow: auto;
  background: url("/images/bg-med-light.jpg") repeat scroll 0 0;
  color: var(--contrast_text_color) !important;
  border: 1px solid #444444;
  padding: 6px;
  margin: 5px;
  min-width: 300px;
  border-radius: 6px;
  scrollbar-width: thin;
}

#city_improvements {
  min-width: 280px;
  overflow-y: hidden;
}

#city_improvements_list {
  margin-top: -5px;
}

#city_improvements_title, #city_present_units_title, #city_supported_units_title {
  font-size: 90%;
  font-weight: bold;
  color: #ddd;
  background-color: #111;
  padding: 4px;
  margin: -7px -6px 7px -6px;
}


#city_improvement_element {
  text-align: center;
  color: var(--contrast_text_color);
  width: 70px;
  cursor: pointer;
  float: left;
  text-shadow: 1px 1px #0004;
}

.production_list_item {
  float: left;
  text-align: center;
  width: 80px;
  height: 90px;
  font-size: 70%;
}

.production_list_item_sub {
  cursor: pointer;
  float: left;
}

#unit_info_div {
  float: left;
}

#unit_info_image {
  cursor: pointer;
  float: left;
  margin-right: 2px;
}

#city_production_overview {
  padding-top: 10px;
}

.ui-widget-header {
  background: #9e8669 url("/images/ui-widget-header.png") 50% 50% repeat-x;
}

/* theme classes 5 */
.ui-dialog .ui-dialog-title {
  float: none;
}

#tabs {
  background-image: url("/images/bg-dark.jpg");
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

#tabs_menu {
  font-size: 0.98em;
  overflow: hidden;
  /* background: #444 url("images/ui-bg_highlight-soft_44_444444_1x100.png") 50% 50% repeat-x; */
  background: rgb(73, 60, 47) url("/images/ui-widget-header.png") 50% 50% repeat-x;
  border-color: rgb(73, 60, 47);
  color: var(--default_text_color);
}

.specialist_item {
  float: left;
}

#specialist_panel {
  float: left;
}

#rapture_citizen_panel {
  margin-top: -20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}

#city_airlift_capacity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blockUI h1 {
  font-size: 18px;
}

.tablesorter-header {
  z-index: 2;
}

.tablesorter-dark {
  font: 115% sans-serif;
  background: url("/images/bg-dark.jpg") repeat scroll 0 0;
  color: rgb(223, 223, 223);
}

/* theme classes 2 */

.tablesorter-dark thead th {
  font: 110% sans-serif;
  position: sticky;
  top: 0;
}

.tablesorter-dark thead td {
  font: 110% sans-serif;
}

#city_stats tr {
  line-height: 14px;
}

.govbutton {
  width: 190px;
}

.setting_button {
  /*  width: 140px;
      left blank, let the layout auto-fit: working better
  */
}

/* makes a button appear as a tab */
.tab_emulator_button {
  border-radius: 8px 8px 0 0;
  margin-right: -5px;
}

#nations_list {
  overflow: auto;
  height: 99%;
}

#nation_table {
  cursor: pointer;
  padding-bottom: 5px;
}

/*
#nation_table thead th {
  position: sticky;
  top: 0;
}*/

#nations_button_div {
  padding-bottom: 15px;
  clear: left;
}

.act_sel_dialog {
  min-width: 280px;
}

.act_sel_dialog .ui-dialog-content {
  text-align: center;
  min-width: 250px;
}

.act_sel_dialog .ui-dialog-buttonpane {
  text-align: center;
}

.act_sel_button {
  width: 250px;
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.ui-selected {
  background-color: #d8d8d8;
  color: black;
}

.ui-selecting {
  background-color: #b3b3b3;
  color: black;
}

.tablesorter-dark td {
  background-color: inherit;
  color: inherit;
}

.tablesorter-dark tbody > tr:hover > td,
.tablesorter-dark tbody > tr.even:hover > td,
.tablesorter-dark tbody > tr.odd:hover > td {
  background: inherit;
}

.alternate-row-color tr:not(.ui-selected):nth-child(even) {
  background-color: rgba(255, 255, 255, 0.015);
}


.nation_table_body tr td {
  padding-left: 20px;
}

.nation_row_self {
  color: lightgreen;
}

.nation_row_war {
  color: #f35f5f;
}

.nation_row_ceasefire {
  color: #fffabb;
}

.nation_row_armistice {
  color: #d2ffbd;
}

.nation_row_peace {
  color: #bfe;
}

.nation_row_alliance {
  color: #90adff;
}

.nation_row_dead {
  color: #9e9e9e;
}

.nation_row_none {
  color: #d8d8d8;
}

.nation_row_self.ui-selected,
.nation_row_war.ui-selected,
.nation_row_ceasefire.ui-selected,
.nation_row_armistice.ui-selected,
.nation_row_peace.ui-selected,
.nation_row_alliance.ui-selected,
.nation_row_dead.ui-selected,
.nation_row_none.ui-selected {
  color: var(--contrast_text_color);
}

#city_disband_options {
  padding: 10px;
}

#basic_cma_options {
  padding: 10px;
}

#tech_advance_helptext span {
  text-decoration: underline;
  cursor: pointer;
}

#tech_gained_choice {
  float: left;
  padding: 5px;
}

.specific_tech {
  float: left;
  background-color: rgba(2, 2, 2, 0.6);
  color: white;
  border: 1px solid white;
  padding: 3px;
  margin: 4px;
  cursor: pointer;

}

.tech_infobox_image {
  float: left;
  margin: 4px;
}

#wiki_image {
  max-width: 600px;
  max-height: 500px;
  margin: 5px;
  float: right;
}

#help_menu {
  float: left;
  background-image: url('/images/bg-dark.jpg');
  color: rgb(226, 226, 226);
}

#help_info_page {
  float: left;
  padding-left: 25px;
}

.help_submenu {
  max-height: 600px;
  overflow: auto;
  min-width: 320px;
  background-image: url('/images/bg-dark.jpg');
  color: rgb(226, 226, 226);
  scrollbar-width: thin;
}

#tabs-hel.manual_doc {
  background-image: url('/images/bg-dark.jpg');
  color: rgb(226, 226, 226);
}

#tabs-hel.manual_doc a {
  color: #9cf;
}

#tabs-hel.ui-icon, #tabs-hel.ui-widget-content .ui-icon {
  background-image: url("images/ui-icons_cb672b_256x240.png");
}

/* tech report table */
.tech_report {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.tech_report td {
  text-align: center;
  height: 48px;
  border: 1px solid #ffc3;
  margin: 0;
  background-color: #0004;
  padding: 0 10px;
}

.nopad {
  padding: 0 !important;
}

/* vet level charts in online manual */
.vet_level {
  border-spacing: 12px 0;
}

table.vet_level td {
  text-align: center;
}

table.vet_level th {
  color: rgb(192, 206, 206) !important;
  text-decoration: underline;
}

table.vet_level tr:nth-child(3) td {
  color: #bcdabc;
}

table.vet_level tr:nth-child(4) td,
table.vet_level tr:nth-child(5) td,
table.vet_level tr:nth-child(6) td {
  color: #dddd9f;
}

table.vet_level tr:nth-child(7) td,
table.vet_level tr:nth-child(8) td,
table.vet_level tr:nth-child(9) td {
  color: #dbc2a1;
}

/***********/

#worklist_heading {
  width: 100%;
  float: left;
}

#tasks_heading {
  width: 100%;
  float: left;
}

#worklist_left {
  float: left;
  width: 45%
}

#worklist_right {
  float: right;
  width: 50%;
}

#worklist_control {
  width: 5%;
  overflow: hidden;
  text-align: center;
}

#worklist_control button {
  padding: 0;
  margin: 0;
  width: 80%;
  height: 9%;
  min-height: 1.2em;
  max-height: 5em;
}

#worklist_control .wc_spacer {
  height: 8%;
  max-height: 5em;
}

@media (max-width: 480px) {
  #worklist_control {
    display: none;
  }
}

.prod_choice_list_item {
  text-align: left;
  font-size: 100%;
  cursor: pointer;
}

.worklist_table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  font-family: "Segoe UI", sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px #5554;
  background-image: url(/images/bg-med-light.jpg);
}

#worklist_dialog_headline {
  width: 100%;
  height: 60px;
  font-size: 120%;
  padding-bottom: 0;
  background-color: rgba(40, 40, 40, 0.2);
}

.worklist_table .ui-selected {
  background-color: rgb(223, 223, 217);
}

.cannot_build_item {
  background-color: rgba(224, 38, 38, 0.12);
}

.cannot_build_item.ui-selected {
  background-color: rgb(204, 71, 71);
}

.cannot_build_item.ui-selecting {
  background-color: rgb(243, 123, 123);
}

.ui-dialog .ui-dialog-title {
  font-size: 140%;
}

.overview_dialog .ui-dialog-titlebar, .unit_dialog .ui-dialog-titlebar, .chatbox_dialog .ui-dialog-titlebar {
  padding-bottom: 1px;
  padding-left: 4px;
  padding-top: 0;
  font-size: 11px;
  margin-top: -5px;
  height: 15px;
  overflow: hidden;
  border-color: #432;
}

.overview_dialog {
  padding: 4px 2px;
  border-radius: 7px 7px 3px 3px;
}

#game_overview_panel {
  padding: 0 0 2px;
  margin-bottom: -5px;
  overflow: hidden;
}

/* Fixes unit panel for >100 units but requires
   hard-coding to add 
   if (is_small_screen()) document.body.classList.add('mobile');
*/
body:not(.mobile) .ui-dialog.unit_dialog {
  overflow: auto !important;
  height: auto !important;
  max-height: 90%;
}

.chatbox_dialog .ui-dialog-titlebar {
  background: #432 url("/images/ui-widget-header.png") 100% 50% repeat-x;
}

/* theme classes 6 */

.ui-widget-content a {
  color: #9cf;
}

.govt_button {
  width: 60%;
  line-height: 110%;
  font-size: 115%;
  margin: 6px 6px -5px;
}

/* Government Docs table showing content/unhappy citizens per empire size */
.gov_city_happy_table,
.gov_city_rapture_table {
  width: 100%;
  border-collapse: collapse;
  cursor: default !important;
}

.gov_city_happy_table th,
.gov_city_rapture_table th {
  text-align: center;
  border: 1px solid black;
  color: #000;
  background: #aaa;
}

.gov_city_happy_table th:nth-child(2n+1),
.gov_city_rapture_table th:nth-child(2n+1) {
  background: #bbb;
}

.gov_city_happy_table td,
.gov_city_rapture_table td {
  text-align: center;
  border: 2px solid black;
  color: #fff;
  background: #777;
  font-weight: bold;
  text-shadow: 2px 1px #555;
}

.gov_city_happy_table tr:nth-child(2) td {
  color: #fcb;
  text-shadow: 2px 1px #650;
}

/* Government Docs table showing rapture rates */
.gov_city_rapture_table tr:nth-child(2) td {
  color: rgb(187, 219, 255);
  text-shadow: 2px 1px rgb(0, 15, 102);
}

.gov_city_rapture_table tr:nth-child(3) td {
  color: rgb(245, 200, 182);
  text-shadow: 2px 1px rgb(102, 0, 0);
}

#governments {
  text-align: center;
}

.Democracy {
  background-image: url(/images/gov.democracy.png) !important;
}

.Anarchy {
  background-image: url(/images/gov.anarchy.png) !important;
}

.Republic {
  background-image: url(/images/gov.republic.png) !important;
}

.Despotism {
  background-image: url(/images/gov.despotism.png) !important;
}

.Communism {
  background-image: url(/images/gov.communism.png) !important;
}

.Monarchy {
  background-image: url(/images/gov.monarchy.png) !important;
}

.Fundamentalism {
  background-image: url(/images/gov.fundamentalism.png) !important;
}

.Tribalism,
.Tribal {
  background-image: url(/images/gov.tribalism.png) !important;
}

.Tribalism {
  background-image: url(/images/gov.tribalism.png) !important;
}

.Federation {
  background-image: url(/images/gov.federation.png) !important;
}

/* vertically aligned images */
.v,
.lowered_gov {
  vertical-align: middle;
}

.vu /* upkeep icons with tight fit in city::Supported Units panel */
{
  vertical-align: middle;
  margin: -6px 7px -5px -1px;
}

.sb {
  vertical-align: sub;
}

.flag_self {
  float: left;
  width: 140px;
}

.flag_counterpart {
  float: right;
  width: 140px;

}

.context-menu-list {
  background: #00000098;
}

.context-menu-item {
  font-size: 120%;
  padding: 0 5px 1px;
  color: #c7bfbc;
  background: none;
  text-shadow: 2px 1px 2px #200;
}

@media (max-width: 900px) {
  .context-menu-item {
    font-size: 140%;
    padding: 0 5px 1px;
    color: #c7bfbc;
    background: none;
    text-shadow: 2px 1px 2px #200;
  }
}

.chatbox_text_tileinfo {
  cursor: pointer;
}

/* Clip units_oversize images in the Empire panel so they don't disrupt the layout */
#empire_mode_panel div span {
  max-height: 48px; /* 48px is normal height for improvements and units */
}

/* city tabs will be on the bottom of the dialog. */
#city_tabs .ui-tabs-nav {
  position: absolute;
  left: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  padding: 0 0.2em 0.2em;
}

#city_tabs .ui-tabs-nav li {
  border-top: none;
  border-bottom: 1px solid rgb(51, 51, 51);
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

#city_tabs .ui-tabs-nav li.ui-tabs-selected,
#city_tabs .ui-tabs-nav li.ui-state-active {
  top: -1px;
}


#prod_buttons {
  float: right;
  clear: both;
}

.wider-tooltip {
  max-width: 800px;
}

.no-close .ui-dialog-titlebar-close {
  display: none
}

.nation_flags {
  width: 45px;
}


#prod_descr {
  padding: 10px;
  margin-left: 55px;
}


.scorechart {
  height: 530px;
  width: 100%;
  background-color: white;
  overflow: hidden;

}

#scores_dialog {
  overflow: hidden;
}

.current_focus_unit {
  border: 1px solid white;
  background-color: rgba(240, 240, 240, 0.5);
}

.transported_focus_unit {
  border: 1px solid skyblue;
  background-color: rgba(110, 210, 255, 0.75);
}

.nonfocus_unit {
  border: 1px solid white;
  background-color: rgba(15, 0, 0, 0.55);
}

.transported_nonfocus_unit {
  border: 1px solid skyblue;
  background-color: rgba(0, 90, 145, 0.75);
}

#active_unit_info {
  float: left;
  width: 100%;
  cursor: help;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 86%;
  line-height: 15px;
}

#active_unit_info span {
  font-size: 75%;
}

#game_unit_panel {
  margin-left: -8px;
  /* padding: 0px replaces line above if not mobile */
}

#city_table {
  width: 100%;
  cursor: pointer;
}

.cities_row {
  cursor: hand;
}

.cities_row td {
  padding-left: 0; /* added by Lexxie to experiment */
}

/* Empire -> all tabs -> cities_row of images:
   clip units_oversize to 48px high to keep layout clean. NB: This should also
   target images in normal cities list which uses this class; but it shouldn't
   matter because units_oversize get scaled in that one. */
.cities_row td div,
.cities_row td div span {
  max-height: 48px;
}

#wiki_dialog {
  overflow: auto;
}

#wiki_dialog a {
  color: #9cf !important;
  text-shadow: 2px 1px #002850;
}

#cities_scroll {
  width: 100%;
  overflow: auto;
}

.negative_net_income {
  color: red;
}

.nation_table_body {
  background: rgba(0, 0, 0, 0.45);
}

.vert-attr-list th {
  padding-right: 0.5em;
  text-align: right;
}

.inteldlg_tabs {
  background: url("/images/bg-dark.jpg") repeat scroll 0 0;
  margin: 0.5em 0;
  color: #dbd5d0;
}

.inteldlg_tabs > ul {
  max-height: 400px;
  overflow-y: auto;
}

@media (max-height: 600px) {
  .inteldlg_tabs > ul {
    max-height: 250px;
    overflow-y: auto;
  }
}

#intel_tabs {
  background: url("/images/bg-dark.jpg") repeat scroll 0 0;
  color: #dbd5d0;
}

#intel_ruler {
  color: #aba;
}

#intel_capital {
  color: #aab;
}

#intel_researching {
  color: #abb;
}

#intel_tabs-technology ul {
  list-style-type: none;
  position: relative;
}

/* intel dialog tech report classes */
/* legacy styles: */
li.tech-them {
  font-weight: bold;
  color: #a9d1a7;
  cursor: alias;
}

li.tech-me_only {
  color: #caa7a7;
  font-style: italic;
  cursor: alias;
}

li.tech-both {
  cursor: alias;
}

li.tech-them::before {
  content: '\2605';
  position: absolute;
  left: 1em;
}

li.tech-me_only::before {
  color: #d10d17;
  font-weight: bold;
  content: '\2613';
  position: absolute;
  left: 1em;
}

li.tech-both::before {
  content: '\2713';
  position: absolute;
  left: 1em;
}

/* the following classes express a matrix of possibilities, some of which are
   not possible. the first code is who definitely possesses the tech:  
   them, me_only, both, neither
   the second is two bits for who possess blueprints: [me_bit][them_bit] */
li.tech-them00 { /* no one has blueprints, they have the tech. we don't. */
  font-weight: bold;
  color: #a9d1a7;
  cursor: alias;
}

li.tech-them10 { /* they have the tech and we have blueprints */
  font-weight: bold;
  color: #a9d1a7;
  cursor: alias;
}

/* themx1: impossible to possess and also have blueprints */
li.tech-neither01 { /* no one has the tech but they have blueprints */
  color: #a7c4d1;
  font-style: italic;
  cursor: alias;
}

li.tech-neither10 { /* no one has the tech but we have blueprints */
  color: #a89191;
  font-style: italic;
  cursor: alias;
}

li.tech-neither11 { /* no one has the tech but both have blueprints */
  color: #3876fc;
  font-style: italic;
  cursor: alias;
}

/* both00: impossible: "no one with tech, nor blueprints" gets filtered out of the list */
li.tech-me_only00 { /* we have the tech and they lack blueprints */
  color: #caa7a7;
  font-style: italic;
  cursor: alias;
}

li.tech-me_only01 { /* we have the tech and they have blueprints */
  color: #3876fc;
  font-style: italic;
  cursor: alias;
}

/* me_only1x: impossible, we can't have blueprints if we have the tech */
li.tech-both00 { /* if we both have the tech then neither has blueprints */
  cursor: alias;
}

/* ----------- */
li.tech-them00::before { /* they have the tech, we don't, and we have no blueprints */
  content: '\2605';
  position: absolute;
  left: 1em;
}

li.tech-them10::before { /* they have the tech, we don't, and we have blueprints */
  content: '\2605';
  position: absolute;
  left: 1em;
}

li.tech-neither01::before { /* no one has the tech but they have blueprints and we don't */
  color: #3876fc;
  content: '\2605';
  position: absolute;
  left: 1em;
}

li.tech-neither10::before { /* no one has the tech but we have blueprints and they don't */
  color: #d10d17;
  content: '\2613';
  position: absolute;
  left: 1em;
}

li.tech-me_only00::before { /* we have the tech, they don't, and no one has blueprints */
  color: #d10d17;
  font-weight: bold;
  content: '\2613';
  position: absolute;
  left: 1em;
}

li.tech-me_only01::before { /* we have the tech, they don't, and they have blueprints */
  color: #d10d17;
  font-weight: bold;
  content: '\2613';
  position: absolute;
  left: 1em;
}

li.tech-both00::before { /*  we both have the tech and neither has blueprints */
  content: '\2713';
  position: absolute;
  left: 1em;
}

#chat_context_dialog {
  overflow-y: auto;
}

#chat_context_dialog tr:hover {
  background-color: rgba(240, 240, 240, 0.75);
}

#chat_context_dialog canvas {
  vertical-align: middle;
}

.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_cb672b_256x240.png);
}

#nations_title {
  font-size: 170%;
  float: left;
  padding: 10px;
}

#nations_label {
  float: left;
  padding: 15px;
}

#technology_dialog {
  overflow: hidden;
}

/* Diplomacy dialog. */
.diplomacy_messages {
  background: url("/images/bg-dark.jpg") repeat scroll 0 0;
  min-height: 120px;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #555555;
  width: 100%;
  font-size: 130%;
  color: var(--default_text_color);
}

.diplomacy_messages a {
  color: white;
}

.diplomacy_player_box {
  width: 50%;
  float: left;
  text-align: center;
}

.diplomacy_player_box h3 {
  clear: both;
  width: 100%;
  padding-top: 1em;
}

.dipl_div {
  float: left;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  z-index: 2000;
}

.dipl_div a {
  color: rgb(202, 187, 153);
  text-decoration: none;
}

.dipl_add {
  z-index: 100;
}

.agree_self {
  float: left;
}

.agree_counterpart {
  float: right;
}

.diplomacy_gold {
  padding: 8px;
  font-size: 80%;
  color: rgb(253, 232, 0) !important;
}

.diplomacy_gold input {
  height: 18px;
  font-size: 15px;
  width: 42px;
  color: rgb(223, 221, 197) !important;
  background-color: #222 !important;
  border-color: #888;
  text-align: center;
}

.row_right {
  text-align: right;
}

/* these were going to be used in city.js but weren't i don't think, they could be deleted */
.halfsize-img {
  width: 50%;
  height: auto;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  white-space: pre-line;
  margin: -5px;
  padding: 0;
  transform: scale(0.5);
  float: left;
  max-height: 24px;
  border-width: 0;
  border-style: none;
}

.quartersize-image {
  width: 25%;
  height: auto;
}

.rotateimg270 {
  transform: rotate(270deg);
}


/* Theme dependent classes, grouped by same background property ************/

/* FAROESE */
.faroese1 {
  background: url("/images/themes/faroese/bg.jpg") repeat scroll 0 0 #222222;
}

.faroese2 {
  background: url("/images/themes/faroese/bg.jpg") repeat scroll 0 0;
}

.faroese3 {
  background: url("/images/themes/faroese/bg.jpg");
}

.faroese4 {
  background: url("/images/themes/faroese/bg.jpg") repeat scroll 50% 50%;
}

.faroese5 {
  background: #cb842e url("/images/themes/faroese/ui-widget-header.png") 50% 50% repeat-x;
}

.faroese6 {
  background: #cb842e url("/images/themes/faroese/ui-widget-header.png") 100% 50% repeat-x;
}

.faroese7 {
  background: #444444 url(/images/freeciv-web-logo2.png);
}

/* GREEK */
.greek1 {
  background: url("/images/themes/greek/bg.jpg") repeat scroll 0 0 #222222;
}

.greek2 {
  background: url("/images/themes/greek/bg.jpg") repeat scroll 0 0;
}

.greek3 {
  background: url("/images/themes/greek/bg.jpg");
}

.greek4 {
  background: url("/images/themes/greek/bg.jpg") repeat scroll 50% 50%;
}

.greek5 {
  background: #cb842e url("/images/themes/greek/ui-widget-header.png") 50% 50% repeat-x;
}

.greek6 {
  background: #cb842e url("/images/themes/greek/ui-widget-header.png") 100% 50% repeat-x;
}

.greek7 {
  background: #444444 url(/images/themes/greek/freeciv-web-logo.png);
}

.ui-widget:not(.ui-button,.ui-dialog,.ui-tabs-anchor, #game_chatbox_panel, #game_message_area) {
  background: url('/images/bg-dark.jpg');
  color: var(--default_text_color);
}

/* city governor sliders */
.cma_slider {
  margin-left: 10px;
  margin-bottom: 0;
  border: none !important;
  background: url('/images/string.png') repeat-x scroll 0 0 !important;
  height: 12px;
}

.no_bg {
  background-image: none !important;
  border: none !important;
  margin-bottom: 13px;
}

.ui-dialog:not(#game_message_area, #game_chatbox_panel) {
  color: var(--default_text_color);
  font-family: "Segoe UI", sans-serif;
  background: url('/images/bg.jpg');
  border: #432 !important;
}

/* Standard tool tips */
/* jquery */
.ui-tooltip {
  white-space: pre-line;
  background-image: url('/images/bg-light.jpg') !important;
  color: var(--contrast_text_color) !important;
  /* box-shadow: none !important;
  box-shadow: 5px 5px 15px #000a, -.01em 0 .27em #ccc5 !important; */
  box-shadow: 6px 6px 23px #000b !important;
  text-shadow: 1px 1px #33222241 !important;
  font-family: "Segoe UI", sans-serif !important;
  line-height: 16px;
}

body div.ui-tooltip {
  max-width: 360px;
}

.ui-button, button {
  color: var(--default_text_color);
  font-family: Cinzel, serif !important;
  background: url('/images/bg-med-dark.jpg') #000;
  border-color: #000;
  box-shadow: 3px 3px 6px #000b !important;
}

.ui-button:hover, button:hover {
  background: url('/images/bg-light.jpg') #000;
  color: #000 !important;
  box-shadow: 4px 4px 7px #0008 !important;

}

.ui-button.ui-button-icon-only:not(#turn_done_button) {
  border: 1px solid;
  background: url('/images/bg-med-light.jpg');
  margin-right: 4px;
}

/* fixes position of dialog-close button */
.ui-button-icon-only .ui-icon {
  margin-top: -10px;
}

.menu-button-activator {
  float: left;
  margin: 0 4px 40px 20px;
  padding: .4em 1em;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: var(--default_text_color) !important;
  border-color: #000 !important;
  box-shadow: 3px 3px 6px #000b !important;
  font-family: Cinzel, serif !important;
  background: url('/images/bg-med-dark.jpg') #000 !important;
}

.menu-button-activator .ui-selected {
  color: #fff !important;
}

.menu-button-activator .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: auto;
  margin-left: 0;
  right: .2em;
}

.ui-dialog-titlebar-minimize,
.ui-dialog-titlebar-maximize,
.ui-dialog-titlebar-close,
.ui-dialog-titlebar-restore {
  border: none !important;
  background: none !important;
  height: 16px;
  width: 16px;
}

/* make titlebar a perfect fit to dialog/div frame around it */
.ui-dialog-titlebar {
  border-color: #432;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
}

/* while pushed */
.ui-button:active {
  background: url('/images/bg-light.jpg') #000;
  color: rgb(117, 47, 0) !important;
}

#turn_done_button:hover {
  color: #000 !important;
}

.ui-tabs-anchor {
  font-family: Cinzel, serif;
  background: url('/images/bg-med-dark.jpg');
  color: var(--default_text_color) !important;
  border-color: #000;
  border-radius: 5px 5px 0 0;
}

.ui-tabs-anchor:hover {
  background: url('/images/bg-light.jpg') #000;
  color: #000 !important;
  border-radius: 5px 5px 0 0;
}

/* while pushed */
.ui-tabs-anchor:active {
  background: url('/images/bg-light.jpg') #000;
  color: rgb(117, 47, 0) !important;
  border-radius: 5px 5px 0 0;
}

.ui-tabs-tab {
  border-color: #000;
  /* this is hard coded into client_main.js because
     this setting isn't "sticking" when done here. */
}

/* colored bg tab underneath real tab, get it out of the way. */
.ui-tabs .ui-tabs-nav li {
  border-radius: 9px 9px 0 0;
  background: none;
  border: none;
}

#city_tabs .ui-tabs-nav li {
  border-radius: 9px 9px 0 0;
}

/**/

*:focus {
  outline: none;
}

a:focus {
  outline: thin dotted;
  border: none;
}

.ui-tabs-active .ui-tabs-anchor {
  top: -1px;
  background: url('/images/bg-med-light.jpg') #000 !important;
  color: #000 !important;
  border: none !important;
  border-radius: 5px 5px 0 0;
}

.citytab, .fcw_tab {
  margin-left: 0;
  margin-right: 1px !important;
}

/* Tile info styles, can be used elsewhere too */
.nation_link {
  color: #9cf;
  font-weight: 500;
  text-shadow: 2px 1px #002850;
  text-decoration: underline;
  cursor: pointer;
}

.highlight_irrigation {
  color: #8db2ff;
  text-shadow: 2px 1px #00af;
}

.highlight_mining {
  color: #e76879;
  text-shadow: 2px 1px #500f;
}

.highlight_transforming {
  color: #f9bd4d;
  text-shadow: 2px 1px #2c2707;
}

.highlight_roading {
  color: #dbb992;
  text-shadow: 2px 1px #311907;
}

input[type="text"], textarea {
  background-color: #111;
  color: var(--default_text_color);
  border-color: #aaa;
}

input[type="password" i], #password {
  -webkit-text-security: disc !important;
  padding: 1px 2px;
  background-color: #111 !important;
  color: var(--default_text_color) !important;
  border-color: #aaa;
}

input[type="email" i], #email {
  padding: 1px 2px;
  background-color: #111 !important;
  color: var(--default_text_color) !important;
  border-color: #aaa;
}

#pregame_text_input {
  background-color: #000 !important;
  border-color: #777 !important;
  color: rgb(60, 190, 255);
}

#pregame_game_info {
  color: #e0c29a !important;
  text-shadow: 1px 1px #000;
}

#pick_nation_dialog {
  color: var(--default_text_color);
}

.sweet-alert {
  background: #000 url(/images/bg-dark.jpg)
}

.chatbox_dialog {
  background: rgba(0, 0, 0, 0.75) !important;
}

.mobile_chatbox_dialog {
  background: rgba(0, 0, 0, 0.9) !important;
}

#ui-dialog-title-game_chatbox_panel {
  margin-top: -5px;
  font-size: 10px;
}

#game_chatbox_panel {
  background: rgba(0, 0, 0, 0.75) !important;
  overflow: hidden;
}

.chatbox_dialog div.ui-dialog-content {
  padding: 5px 0;
}

/* prevent game message area from having thick unused 60px margin between it and its scrollbar */
.mCSB_container {
  margin-right: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  margin-left: 0;
  margin-right: -12px;
  padding: 0;
}

.mCSB_dragger_bar {
  width: 6px !important;
  background: rgb(136, 119, 102) !important;
}

/**************************************************************************************************/
#game_message_area {
  padding-top: 12px;
  padding-left: 0;
  padding-right: 4px;
  box-sizing: border-box;
  border: 1px solid #111111;
  color: rgb(247, 241, 241);
  list-style-type: none;
  margin: 0;
}

#selectable li {
  /*  margin: 3px;
    padding: .4em; */
  cursor: pointer;
  background: #0000003b;
}

/*  These get put in chatbox classes, meaning we can define colours, fonts, indent, collapsing, all kinds of stuff 
    In addition, these could be intercepted and their names used as playsounds, where, if playsound not found, it just does nothing.
*/

/* info messages the client sends to itself (the player) */
.e_client_msg {
  color: #a8a8a8;
}

.e_setting {
  color: #777c79;
}

.e_setting a {
  target: new;
  target-name: new;
  target-new: tab;
}

.e_chat_msg {
  color: #dbd5c0
}

.e_chat_msg_public {
  text-align: center;
  color: #d8d2c1
}

.e_chat_msg_private_sent {
  text-align: right;
  color: #ffb789;
}

.e_chat_msg_private_rcvd {
  color: #ff87b7
}

.e_chat_msg_ally {
  text-align: center;
  color: #a9aff1;
}

.cht_prv_sndr {
  color: #c79cae
}

.cht_ally_sndr {
  color: #898fd8;
}

.cht_you {
  color: #c888ff;
}

/* chat arrows */
.arwl,
.arwr {
  padding: 3px;
}

.arwl::before {
  content: url(/images/e/a_left.png);
  vertical-align: text-top;
  white-space: nowrap;
}

.arwr::before {
  content: url(/images/e/a_rght.png);
  vertical-align: text-top;
  white-space: nowrap;
}


/* unit tile link */
.e_unit_relocated,
.e_unit_escaped,
.e_unit_did_expel,
.e_unit_action_failed,
.e_my_unit_did_heal,
.e_my_unit_was_healed {
  color: #97e0f0;
}

.e_unit_lost_att,
.e_unit_lost_def,
.e_unit_lost_misc,
.e_unit_was_expelled {
  color: #8bdaec;
}

.e_enemy_diplomat_failed,
.e_my_diplomat_poison,
.e_my_spy_steal_map,
.e_my_diplomat_escape,
.e_my_diplomat_bribe,
.e_my_spy_steal_gold,
.e_my_diplomat_incite,
.e_my_diplomat_embassy,
.e_my_diplomat_sabotage,
.e_my_diplomat_theft,
.e_unit_win_att,
.e_unit_win_def {
  color: #b0e9ff;
}

.e_pollution {
  color: #a79792;
}

.e_my_diplomat_failed,
.e_enemy_diplomat_poison,
.e_enemy_spy_nuke,
.e_enemy_diplomat_bribe,
.e_enemy_diplomat_embassy,
.e_enemy_diplomat_incite,
.e_enemy_diplomat_poison,
.e_enemy_diplomat_sabotage,
.e_enemy_diplomat_theft,
.e_enemy_spy_steal_map {
  color: #b88f8f;
}

.e_unit_sentry_wake {
  color: #7cb4ff;
  font-size: 82%;
}

.e_unit_orders {
  color: #7cb4ff;
}

.e_imp_build,
.e_unit_built {
  color: #acb8d3
}

.e_unit_became_vet {
  color: #b0b0b0;
}

.e_unit_upgraded {
  color: #efe07a;
}

.e_hut_gold,
.e_imp_sold,
.e_imp_buy,
.e_unit_buy {
  color: #e6ddad;
}

.e_wonder_build {
  color: #eee092;
}

.e_diplomacy,
.e_treaty_shared_vision,
.e_treaty_alliance,
.e_treaty_peace,
.e_treaty_ceasefire,
.e_treaty_embassy {
  color: #9baf9b;
}

.e_city_nuked,
.e_nuke,
.e_diplomatic_incident,
.e_disaster,
.e_city_plague,
.e_city_lost,
.e_city_disorder,
.e_city_famine,
.e_civil_war,
.e_city_famine_feared,
.e_treaty_broken {
  color: #e09090;
}

.e_caravan_action {
  color: #c59f6d;
}

.e_tech_gain,
.e_tech_learned,
.e_tech_lost,
.e_tech_embassy,
.e_tech_goal {
  color: #7cffdc;
}

.e_city_cma_release {
  color: #7494ff;
  text-shadow: 1px 1px #0000ff;
}

.e_spaceship {
  color: #327aff;
}

.e_script {
  color: #f1f12f;
}

.e_next_year {
  color: #edc;
  font-weight: bold;
  border-top: 3px #876 double;
  border-bottom: 1px #654 dashed;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  text-align: center;
  background: #1c1410;
}

.e_new_government {
  color: #ffffff;
  font-style: italic;
}

.e_first_contact {
  color: #9ecbff;
}

/*reclassify later: all other generic messages*/
.e_city_cantbuild,
.e_city_love,
.e_unit_built_pop_cost,
.e_city_growth,
.e_city_may_soon_grow,
.e_city_aqueduct,
.e_city_aq_building,
.e_city_normal,
.e_city_gran_throttle,
.e_city_transfer,
.e_city_build,
.e_city_production_changed,
.e_worklist,
.e_imp_auctioned,
.e_imp_auto,
.e_imp_destroyed,
.e_wonder_started,
.e_wonder_stopped,
.e_wonder_will_be_built,
.e_wonder_obsolete,
.e_hut_barb,
.e_hut_city,
.e_hut_merc,
.e_hut_settler,
.e_hut_tech,
.e_hut_map,
.e_hut_barb_city_near,
.e_embassy_was_expelled,
.e_embassy_did_expel,
.e_achievement,
.e_uprising,
.e_anarchy,
.e_nation_selected,
.e_message_wall,
.e_destroyed,
.e_low_on_funds,
.e_revolt_done,
.e_revolt_start,
.e_spontaneous_extra,
.e_chem,
.e_broadcast_report,
.e_report,
.e_log_fatal,
.e_chat_error,
.e_bad_command,
.e_game_start,
.e_turn_bell {
  color: #f1efef;
}

.e_game_end {
  font-size: 150%;
  color: #fff;
}

.e_beginner_help {
  font-size: 80%;
  color: #ddcec4
}

.e_unit_illegal_action {
  color: #a77979;
}

.e_connection {
  color: #111
}

.e_global_eco {
  color: #eee;
}

.e_bad_command {
  color: #aba5a5;
}

/* Prevent dev/debug messages from text-walling GMs. CTRL-SHIFT-E toggles in-game. */
.e_log_error {
  display: none;
  font-size: 70%;
  color: #F82;
}

.e_small {
  font-size: 70%;
}

/* Font Control over various game elements 
*******************************************************************/
#pregame_message_area {
  font-family: "Segoe UI", sans-serif;
  font-weight: bolder;
  line-height: 115%;
  font-size: 115%;
  color: rgb(218, 218, 218) !important;
}

/* override everything in pregame to black */
#pregame_message_area .e_setting {
  font-family: "Consolas", monospace;
  font-weight: bold;
  line-height: 90%;
  font-size: 90%;
  color: inherit !important;
}

#pregame_message_area .e_connection {
  font-family: "Consolas", monospace;
  font-weight: bold;
  line-height: 90%;
  font-size: 90%;
  color: inherit !important;
}

#private_message_text,
#pregame_text_input {
  font-family: "Consolas", monospace;
}

/* info on terrain, gov, wonders, buildings */
#helptext_pane {
  line-height: 115%;
  font-size: 115%;
}

#help_city_improvements {
  color: #8bf;
}

#help_wonders_of_the_world {
  color: #fc9;
}

#help_units {
  color: #e67;
}

#help_government {
  color: #8b7;
}

#help_gen_ruleset {
  color: #a6f
}

#help_controls {
  color: #cd6;
}

#city_canvas_div {
  width: 384px;
  height: 192px;
  float: left;
  margin: 5px;
  border: 1px solid #888888;
}

#city_dialog_info {
  float: left;
  padding: 0 10px 9px 10px;
}

#city_button_pane {
  margin: 20px;
  float: left;
}

.city_panel {
  /*
  background: url("/images/bg-med-dark.jpg") repeat scroll 0 0 #222222; */
  padding-right: 30px;
  margin-top: 20px;
  font-family: "Segoe UI", sans-serif;
  color: var(--default_text_color);
}

#city_right_panel {
  float: right;
  width: 55%;
  background: url("/images/bg.jpg") repeat scroll 0 0 #222222;
  height: 533px;
}

/* theme classes 1 */

#city_improvements_panel {
  clear: left;
  width: 95%;
  line-height: 11px !important;
}

#prod_descr,
#city_dialog,
#city_tabs,
#tasks_heading,
#city_traderoutes_tab,
.citydlg_tabs,
#city_disband_options,
#city_happy_tab,
#city_governor_tab,
#city_foreigners {
  color: var(--default_text_color) !important;
}

#city_production_tab {
  background: url("/images/bg-med-dark.jpg");
}

#city_current_worklist {
  width: 100%;
  float: left;
  overflow: auto;
  /* background-color: rgba(40,40,40,0.4); */
  background-image: url("/images/bg-med-light.jpg");
  color: var(--contrast_text_color) !important;
  border: 1px solid black;
  border-radius: 4px;
}

#worklist_production_choices {
  width: 100%;
  float: left;
  overflow: auto;
  /* background-color: rgba(40,40,40,0.4); */
  /*background-image: url("/images/bg-med-light.jpg");*/
  color: var(--contrast_text_color) !important;
  border: 1px solid black;
  border-radius: 4px;
}

#city_worklist_insert_btn,
#city_worklist_change_btn,
#city_worklist_append_btn,
#city_worklist_up_btn,
#city_worklist_down_btn,
#city_worklist_exchange_btn,
#city_worklist_remove_btn {
  background-image: url("/images/bg-med-light.jpg");
  color: #333;
}

#city_tabs {
  border-color: #432;
}

#city_tabs_panel {
  border-color: #432;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
}

#city_tabs_panel > li {
  margin-left: 0;
  margin-right: 0;
  border-color: #000;
}

.happy_cause_help {
  cursor: help;
}

/* city governor */
.ui-slider-handle {
  border: none !important;
  height: 23px !important;
  width: 23px !important;
  background-image: url('/images/slider_prod.png'); /* default grey */
}

body {
  font-family: "Arial", sans-serif;
  border: none;
  outline: none;
  scrollbar-width: thin !important;
}

/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/
/*general styles for all CSS Checkboxes*/
label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /* font-size:15px; */
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label {
  background-image: url(/images/dark-check-green.png);
}

.dark-check-cyan {
  background-image: url(/images/dark-check-cyan.png);
}

.dark-check-green {
  background-image: url(/images/dark-check-green.png);
}

.dark-check-orange {
  background-image: url(/images/dark-check-orange.png);
}

.dark-check-yellow {
  background-image: url(/images/dark-check-yellow.png);
}

.dark-check-red {
  background-image: url(/images/dark-check-red.png);
}

.dark-check-white {
  background-image: url(/images/dark-check-white.png);
}

.dark-check-blue {
  background-image: url(/images/dark-check-blue.png);
}

.dark-check-purple {
  background-image: url(/images/dark-check-purple.png);
}


input[type=checkbox].css-checkbox.med + label.css-label.med {
  padding-left: 22px;
  height: 17px;
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /* font-size:15px; */
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
  background-position: 0 -17px;
}

input[type=checkbox].css-checkbox.sme + label.css-label.sme {
  padding-left: 22px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*  font-size:15px; */
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme {
  background-position: 0 -16px;
}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
  padding-left: 22px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /* font-size:15px; */
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {
  background-position: 0 -20px;
}
