<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head> <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
  <title>Title Goes Here</title>
  </head>
  
  <body background="http://www.freecivweb.org/static/images/background-pattern.jpg">
    <p><b>Secure Data Transfer</b></p>
<p>Freecivweb encrypts your personal data before it is transferred. We use the coding system SSL (Secure Socket Layer). In addition, freecivweb ensures that its websites and other systems are protected as far as possible by technical and organizational measures against unauthorized access, modification or dissemination of data by unauthorized persons.</p>
<br>
<p><b>Right to Cancellation</b></p>
<p>In accordance with applicable legal requirements, you can also block, rectify or delete the data we collected from you and revoke the consent given to us for data collection and use without giving reasons. Related inquiries should be sent by e-mail (including information that allows us to verify your identity) to the contact address stated below.</p>
<br>
<p><b>Use of Personal Data</b></p>
<p>Personal data is individual information about factual or personal circumstances of an identified or identifiable natural person, such as e.g. name, address, telephone number, etc. Data collected when visiting the pages www.freecivweb.org are not personal data if they cannot be directly associated with you.</p>
<br>

<p>Freecivweb collects, stores and processes your personal data for a newsletter if you signed up for one, for verification of your online identiy using Google authentication. You are not required to use your real name when signing up. If you wish to delete the data relating to your login or Google account, please see the section relating to Right to Cancellation. Data will only be made available to third parties if required by law. Data will only be processed for the purposes of processing for the purposes of detecting cheating.</p>
<br>
<p>Disclosed data may only be used by the recipients to fulfill legal obligations or contractual obligations or for the purposes of detecting cheating behaviour.</p>
<br>
<p>Freecivweb will use your personal data to introduce you to products or promotions from Freecivweb or Freecivweb's co-operation partners, provided that you subscribed to the newsletter (see below).</p>
<br>
<p><b>Newsletter</b></p>
<p>For sending newsletters Freecivweb uses the so-called double-opt-in procedure. This means that after registering to subscribe to a newsletter you also need to confirm (confirmation e-mail, activation of the activation link contained therein) that you want to use the newsletter service. If you no longer want to receive a newsletter, you can unsubscribe at any time. Each newsletter contains an unsubscribe link.</p>
   
  </body>


</html>